var publicFun = {
  // 根据状态num显示状态中文
  showStatusLabel: function(e) {
    if (e == 1) {
      return '待选择';
    }
    if (e == 2) {
      return '待服务'
    }
    if (e == 1) {
      return '待选择';
    }
    if (e == 2) {
      return '待接受'
    }
    if (e == 3) {
      return '待服务';
    }
    if (e == 4) {
      return '进行中'
    }
    if (e == 5) {
      return '等待用户评价';
    }
    if (e == 6) {
      return '已完成'
    }
    if (e == 7) {
      return '已取消';
    }
    if (e == 8) {
      return '未支付'
    }
    if (e == 9) {
      return '已取消'
    }
  },
  // 根据状态num显示图片
  showStatusImg: function(e) {
    if (e == 1) {
      return 'https://app.xingxue.vip/icon/my_icon3_receipt.png';
    }
    if (e == 2) {
      return 'https://app.xingxue.vip/icon/my_icon4_receipt.png';
    }
    if (e == 3) {
      return '';
    }
    if (e == 4) {
      return 'https://app.xingxue.vip/icon/my_icon5_receipt.png';
    }
    if (e == 5) {
      return 'https://app.xingxue.vip/icon/my_icon7_receipt.png';
    }
    if (e == 6) {
      return 'https://app.xingxue.vip/icon/my_icon7_receipt.png';
    }
    if (e == 7) {
      return 'https://app.xingxue.vip/icon/my_icon8_receipt.png';
    }
    if (e == 8) {
      return '';
    }
    if (e == 9) {
      return 'https://app.xingxue.vip/icon/my_icon8_receipt.png';
    }
  },
  showJobLabel: function(e) {
    if (e == 1) {
      return '进行中';
    }
    if (e == 2) {
      return '审核中';
    }
    if (e == 3) {
      return '已完成';
    }
    if (e == 5) {
      return '已过期';
    }
    if (e == 4) {
      return '任务失败';
    }
  },
  showJobSBgColor: function(e) {
    if (e == 1) {
      return 'red';
    } else if (e == 2) {
      return 'green';
    } else if (e == 3) {
      return 'violet';
    } else {
      return 'gray';
    }
  },
  // 显示评分小星星
  showStars: function(e) {
    var starsArr = [];


    for (var i = 0; i < e; i++) {
      starsArr.push(i);

    }

    return starsArr;
  },
  showApplicationStatus: function(e) {
    if (e == 1) {
      return '未认证';
    }
    if (e == 2) {
      return '申请中';
    }
    if (e == 3) {
      return '通过';
    }
    if (e == 4) {
      return '未通过';
    }
  },
  signature: function(e) {
    return '此人比较懒暂无签名';
  },
  substr: function(e, n) {
    if (e.length > n) {
      e = e.substring(0, n) + '...';
    }
    return e
  },
  stringToArr: function(e, splict) {
    return e.split(splict);
  },
  // 技能审核状态
  showSkilStatusLabel: function(e) {
    if (e == 2) {
      return '申请中';
    } else if (e == 4) {
      return '未通过';
    } else if (e == 3) {
      return '未完善';
    } else {
      return '';
    }
  },
  // 技能审核Class
  showSkilStatusClass: function(e) {

    if (e == 2) {
      return 'XRZ';
    } else if (e == 4) {
      return 'SHZ';
    } else if (e == 3) {
      return 'XRZ';
    } else {
      return '';
    }
  },
  // showNum
  showNum: function(e) {
    var val = e * 10 / 10;
    return val;
  }

}

module.exports = {
  showStatusLabel: publicFun.showStatusLabel,
  showStatusImg: publicFun.showStatusImg,
  showJobLabel: publicFun.showJobLabel,
  showJobSBgColor: publicFun.showJobSBgColor,
  showStars: publicFun.showStars,
  signature: publicFun.signature,
  showApplicationStatus: publicFun.showApplicationStatus,
  substr: publicFun.substr,
  stringToArr: publicFun.stringToArr,
  showSkilStatusLabel: publicFun.showSkilStatusLabel,
  showSkilStatusClass: publicFun.showSkilStatusClass,
  showNum: publicFun.showNum
}